doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    
    script(type='text/javascript' src='lib/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='lib/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='lib/bower_components/angular/angular.min.js')
    script(type='text/javascript' src='lib/bower_components/angular-route/angular-route.min.js')
    script(type='text/javascript' src='lib/bower_components/angular-resource/angular-resource.min.js')
    script(type='text/javascript' src='lib/bower_components/angular-animate/angular-animate.min.js')
    script(type='text/javascript' src='lib/bower_components/angular-mocks/angular-mocks.js')
    script(type='text/javascript' src='lib/bower_components/handlebars/handlebars.min.js')
    script(type='text/javascript' src='lib/bower_components/d3/d3.min.js')
    script(type='text/javascript' src='lib/bower_components/d3-tip/index.js')

    script(type='text/javascript' src='slipstream/js/slipstream.js')
    script(type='text/javascript' src='slipstream/js/controllers.js')
    script(type='text/javascript' src='slipstream/js/directives.js')
    script(type='text/javascript' src='slipstream/js/services.js')
    script(type='text/javascript' src='slipstream/js/configs.js')

    link(rel='stylesheet', href='lib/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')                
  
  body
    block content
